/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/reset.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip { chain-length = <27>; };

/*
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BAS";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            display-name = "LOW";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
&kp LSHFT   &trans        &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                        &kp LGUI      &trans        &kp SPACE       &kp RET   &trans    &kp RALT
            >;
        };

        raise_layer {
            display-name = "RAI";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH   &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans  &trans    &trans    &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans     &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI   &studio_unlock    &kp SPACE    &kp RET    &studio_unlock     &kp RALT
            >;
        };
        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
*/
/* from https://github.com/devpew/corne-keyboard-layout/blob/main/config/corne.keymap */

#define DEF 0
#define LWR 1
#define RSE 2
#define FLR 3
#define ADJ 4

&lt { quick_tap_ms = <219>; };

&mt { quick_tap_ms = <219>; };

/ {
    behaviors {
        tdF: tap_dance_lang1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings = <&kp F>, <&kp LG(F11)>;
        };

        tdJ: tap_dance_lang2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings = <&kp J>, <&kp LG(F12)>;
        };

        lh_pht: left_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <100>;                        // <---[[produces tap if held longer than tapping-term-ms]]
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5>;    // <---[[right-hand keys]]
        };

        tmux_leader: tmux_leader {
            compatible = "zmk,behavior-tap-dance";
            label = "TMUX_LEADER";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kp LC(A)>;

            tapping-term-ms = <150>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ParaLeft {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 5>;
            timeout-ms = <20>;
        };

        ParaRight {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
            timeout-ms = <20>;
        };

        BrakLeft {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <16 17>;
            timeout-ms = <20>;
        };

        BrakRight {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <18 19>;
            timeout-ms = <20>;
        };

        BraceLeft {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <28 29>;
            timeout-ms = <20>;
        };

        BraceRight {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <30 31>;
            timeout-ms = <20>;
        };

        DoubleQuote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <15 16>;
            timeout-ms = <20>;
        };

        SingleQuote {
            bindings = <&kp APOSTROPHE>;
            key-positions = <19 20>;
            timeout-ms = <20>;
        };

        //LangRu {
        //    bindings = <&kp LG(F11)>;
        //    key-positions = <0 1>;
        //    timeout-ms = <20>;
        //};
        //LangUs {
        //   bindings = <&kp LG(F12)>;
        //    key-positions = <10 11>;
        //    timeout-ms = <20>;
        //};
        //LangRuL {
        //    bindings = <&kp LG(F11)>;
        //    key-positions = <36 38>;
        //    timeout-ms = <20>;
        //};
        //LangUsL {
        //    bindings = <&kp LG(F12)>;
        //    key-positions = <39 41>;
        //    timeout-ms = <20>;
        //};

        TildaSign {
            bindings = <&kp TILDE>;
            key-positions = <0 12>;
            timeout-ms = <20>;
        };

        GraveSign {
            bindings = <&kp GRAVE>;
            key-positions = <12 24>;
            timeout-ms = <20>;
        };

        MinusSign {
            bindings = <&kp MINUS>;
            key-positions = <3 4>;
            timeout-ms = <20>;
        };

        PlusSign {
            bindings = <&kp PLUS>;
            key-positions = <2 3>;
            timeout-ms = <20>;
        };

        UnderscoreSign {
            bindings = <&kp UNDERSCORE>;
            key-positions = <7 8>;
            timeout-ms = <20>;
        };

        PipeSign {
            bindings = <&kp PIPE>;
            key-positions = <8 9>;
            timeout-ms = <20>;
        };

        Mainbootloaderleft {
            bindings = <&bootloader>;
            key-positions = <0 4>;
            timeout-ms = <20>;
        };

        Mainbootloaderright {
            bindings = <&bootloader>;
            key-positions = <7 11>;
            timeout-ms = <20>;
        };

        RALT_ALT {
            bindings = <&mt RALT C_PLAY_PAUSE>;
            key-positions = <13 25>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <14 15>;
            timeout-ms = <20>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R  &kp T           &kp Y          &kp U     &kp I              &kp O    &kp P     &lt FLR LEFT_BRACKET
&kp TAB    &kp A  &kp S  &kp D         &tdF   &kp G           &kp H          &tdJ      &kp K              &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V  &kp B           &kp N          &kp M     &kp COMMA          &kp DOT  &kp FSLH  &mt RALT RIGHT_BRACKET
                         &tmux_leader  &mo 1  &mt LGUI RET    &lt RSE SPACE  &kp BSPC  &mt LGUI CAPSLOCK
            >;
        };

        lower_layer {
            bindings = <
&kp TILDE  &kp N1    &kp N2  &kp N3    &kp N4       &kp N5         &kp N6     &kp N7     &kp N8     &kp N9    &kp N0         &kp F17
&kp GRAVE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR     &kp PRCNT      &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR       &kp F18
&kp LSHFT  &trans    &trans  &trans    &kp LG(F11)  &kp LG(F12)    &trans     &trans     &trans     &trans    &kp BACKSLASH  &kp F14
                             &mo ADJ   &trans       &kp LGUI       &kp KP_N1  &kp KP_N2  &kp KP_N3
            >;
        };

        raise_layer {
            bindings = <
&trans        &trans  &kp PG_UP  &kp UP    &kp PG_DN    &kp HOME       &kp CARET  &kp PG_UP  &kp UP    &kp PG_DN  &kp HOME  &kp F17
&trans        &trans  &kp LEFT   &kp DOWN  &kp RIGHT    &kp END        &kp MINUS  &kp LEFT   &kp DOWN  &kp RIGHT  &kp END   &kp F18
&out OUT_TOG  &trans  &trans     &trans    &trans       &kp F15        &kp F16    &kp F23    &trans    &trans     &trans    &out OUT_TOG
                                 &trans    &kp LG(F11)  &kp LG(F12)    &trans     &trans     &trans
            >;
        };

        fbuttons_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC      &kp LALT  &kp LSHFT  &kp LCTRL  &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC      &trans    &trans     &trans     &trans
&trans  &trans  &trans  &trans   &trans   &trans     &kt K_MUTE         &kp C_BRIGHTNESS_MINIMUM  &trans    &trans     &trans     &trans
                        &trans   &trans   &trans     &trans             &trans                    &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &sys_reset    &out OUT_TOG  &none         &none         &ext_power EP_TOG    &rgb_ug RGB_TOG  &none            &none            &out OUT_TOG     &sys_reset                         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4         &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_COLOR_HSB(109,100,50)  &rgb_ug RGB_COLOR_HSB(55,100,50)
&none        &kp KP_NUM    &none         &none         &none         &none                &rgb_ug RGB_EFR  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_COLOR_HSB(0,0,100)     &rgb_ug RGB_COLOR_HSB(296,100,50)
                                         &trans        &trans        &trans               &trans           &trans           &trans
            >;
        };
    };
};
