/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/reset.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip { chain-length = <27>; };

#define DEF 0
#define LWR 1
#define RSE 2
#define FLR 3
#define ADJ 4

&lt { quick_tap_ms = <219>; };

&mt { quick_tap_ms = <219>; };

/ {
    behaviors {
        tmux_leader: tmux_leader {
            compatible = "zmk,behavior-tap-dance";
            label = "TMUX_LEADER";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kp LC(A)>;

            tapping-term-ms = <200>;
        };

        numbers_ht: numbers_ht {
            compatible = "zmk,behavior-hold-tap";
            label = "NUMBERS_HT";
            bindings = <&numbers_layer_wRGB>, <&general_layer_wRGB>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;

            //quick-tap-ms = <100>;

            flavor = "tap-preferred";
        };

        raise_ht2: raise_ht2 {
            compatible = "zmk,behavior-hold-tap";
            label = "RAISE_HT2";
            bindings = <&raise_layer_wRGB>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;

            //quick-tap-ms = <100>;

            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        ParaLeft {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 5>;
            timeout-ms = <20>;
        };

        ParaRight {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
            timeout-ms = <20>;
        };

        BrakLeft {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <16 17>;
            timeout-ms = <20>;
        };

        BrakRight {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <18 19>;
            timeout-ms = <20>;
        };

        BraceLeft {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <28 29>;
            timeout-ms = <20>;
        };

        BraceRight {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <30 31>;
            timeout-ms = <20>;
        };

        DoubleQuote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <15 16>;
            timeout-ms = <20>;
        };

        SingleQuote {
            bindings = <&kp APOSTROPHE>;
            key-positions = <19 20>;
            timeout-ms = <20>;
        };

        //LangRu {
        //    bindings = <&kp LG(F11)>;
        //    key-positions = <0 1>;
        //    timeout-ms = <20>;
        //};
        //LangUs {
        //   bindings = <&kp LG(F12)>;
        //    key-positions = <10 11>;
        //    timeout-ms = <20>;
        //};
        //LangRuL {
        //    bindings = <&kp LG(F11)>;
        //    key-positions = <36 38>;
        //    timeout-ms = <20>;
        //};
        //LangUsL {
        //    bindings = <&kp LG(F12)>;
        //    key-positions = <39 41>;
        //    timeout-ms = <20>;
        //};

        TildaSign {
            bindings = <&kp TILDE>;
            key-positions = <0 12>;
            timeout-ms = <20>;
        };

        GraveSign {
            bindings = <&kp GRAVE>;
            key-positions = <12 24>;
            timeout-ms = <20>;
        };

        MinusSign {
            bindings = <&kp MINUS>;
            key-positions = <3 4>;
            timeout-ms = <20>;
        };

        PlusSign {
            bindings = <&kp PLUS>;
            key-positions = <2 3>;
            timeout-ms = <20>;
        };

        UnderscoreSign {
            bindings = <&kp UNDERSCORE>;
            key-positions = <7 8>;
            timeout-ms = <20>;
        };

        PipeSign {
            bindings = <&kp PIPE>;
            key-positions = <8 9>;
            timeout-ms = <20>;
        };

        Mainbootloaderleft {
            bindings = <&bootloader>;
            key-positions = <0 4>;
            timeout-ms = <20>;
        };

        Mainbootloaderright {
            bindings = <&bootloader>;
            key-positions = <7 11>;
            timeout-ms = <20>;
        };

        RALT_ALT {
            bindings = <&mt RALT C_PLAY_PAUSE>;
            key-positions = <13 25>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <14 15>;
            timeout-ms = <20>;
        };

        rgb_numbers_left {
            bindings = <&numbers_ht 0 0>;
            key-positions = <2 3 4>;
        };

        star {
            bindings = <&kp ASTERISK>;
            key-positions = <26 27>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <27 28>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <31 32>;
        };

        dot {
            bindings = <&kp DOT>;
            key-positions = <32 33>;
        };

        rgb_numbers_right {
            bindings = <&numbers_ht 0 0>;
            key-positions = <7 8 9>;
        };
    };
};

/ {
    macros {
        numbers_layer_wRGB: numbers_layer_wRGB_ON {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&to 5 &rgb_ug RGB_COLOR_HSB(111,100,25)>,
                <&macro_release>;

            label = "numbers_layer_wRGB_ON";
        };

        general_layer_wRGB: numbers_layer_wRGB_OFF {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&to 0 &rgb_ug RGB_COLOR_HSB(302,100,24)>,
                <&macro_release>;

            label = "numbers_layer_wRGB_OFF";
        };

        lower_layer_wRGB: lower_layer_wRGB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press>,
                <&mo 1>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(246,100,26)>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 1>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(302,100,24)>;

            label = "LOWER_LAYER_WRGB";
        };

        raise_layer_wRGB: raise_layer_wRGB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press>,
                <&mo 2>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(28,100,26)>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 2>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(302,100,24)>;

            label = "LOWER_LAYER_WRGB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R              &kp T           &kp Y                 &kp U     &kp I              &kp O    &kp P                &mo 3
&kp TAB    &kp A  &kp S  &kp D         &kp F              &kp G           &kp H                 &kp J     &kp K              &kp L    &mt COLON SEMICOLON  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V              &kp B           &kp N                 &kp M     &kp COMMA          &kp DOT  &kp FSLH             &mt RALT RIGHT_BRACKET
                         &tmux_leader  &lower_layer_wRGB  &mt LGUI RET    &raise_ht2 RSE SPACE  &kp BSPC  &mt LGUI CAPSLOCK
            >;
        };

        lower_layer {
            bindings = <
&kp TILDE  &kp N1    &kp N2  &kp N3    &kp N4    &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0         &kp F17
&kp GRAVE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR       &kp F18
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &trans     &trans     &trans     &trans    &kp BACKSLASH  &kp F14
                             &mo 4     &trans    &kp LGUI     &kp KP_N1  &kp KP_N2  &kp KP_N3
            >;
        };

        raise_layer {
            bindings = <
&trans        &trans  &kp PG_UP  &kp UP    &kp PG_DN    &kp HOME       &kp CARET  &kp PG_UP  &kp UP    &kp PG_DN  &kp HOME  &kp F17
&trans        &trans  &kp LEFT   &kp DOWN  &kp RIGHT    &kp END        &kp MINUS  &kp LEFT   &kp DOWN  &kp RIGHT  &kp END   &kp F18
&out OUT_TOG  &trans  &trans     &trans    &trans       &kp F15        &kp F16    &kp F23    &trans    &trans     &trans    &out OUT_TOG
                                 &trans    &kp LG(F11)  &kp LG(F12)    &trans     &trans     &trans
            >;
        };

        fbuttons_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC      &kp LALT  &kp LSHFT  &kp LCTRL  &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC      &trans    &trans     &trans     &trans
&trans  &trans  &trans  &trans   &trans   &trans     &kt K_MUTE         &kp C_BRIGHTNESS_MINIMUM  &trans    &trans     &trans     &trans
                        &trans   &trans   &trans     &trans             &trans                    &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &sys_reset    &out OUT_TOG  &none         &none         &ext_power EP_TOG    &rgb_ug RGB_TOG  &none            &none            &out OUT_TOG     &sys_reset                         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4         &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_COLOR_HSB(109,100,50)  &rgb_ug RGB_COLOR_HSB(55,100,50)
&none        &kp KP_NUM    &none         &none         &none         &none                &rgb_ug RGB_EFR  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_COLOR_HSB(0,0,100)     &rgb_ug RGB_COLOR_HSB(296,100,50)
                                         &trans        &trans        &trans               &trans           &trans           &trans
            >;
        };

        numbers {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4   &kp NUMBER_5    &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &trans
&trans  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp NUMBER_0    &kp NUMBER_6  &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans  &trans        &trans        &trans        &trans         &trans          &trans        &trans         &trans        &trans        &trans        &trans
                                    &trans        &kp BACKSPACE  &trans          &trans        &kp BACKSPACE  &trans
            >;
        };
    };
};
